<!-- <div class="ui-g">
    <div class="ui-g-7">
        <app-warehouse-total [shopName]="shopName" [currentUserName]="currentUserName" [deviceType]="deviceType"></app-warehouse-total>
    </div>
    <div class="ui-g-5">
        <div class="ui-g-12">
            <app-warehouse-grade [shopName]="shopName" [currentUserName]="currentUserName" [deviceType]="deviceType">
            </app-warehouse-grade>
        </div>
        <div class="ui-g-12">
            <app-warehouse-time [shopName]="shopName" [currentUserName]="currentUserName" [deviceType]="deviceType">
            </app-warehouse-time>
        </div>
    </div>
</div> -->

<app-warehouse-all #Child_Finished [shopName]="shopName" [currentUserName]="currentUserName" [deviceType]="deviceType"></app-warehouse-all>