<div class="main">
  <div class="searcharea">
      <input type="text" class="searchbox" placeholder="搜索">
  </div>
  <div class="userlistarea">
      <ul class="userlist">
          <li style="background-color: #C5C4C4;">
              <div class="icon" style="background-image: url(assets/images/chat/icon/1.jpg);"></div>
              <div class="username">钢铁侠</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/2.jpg);"></div>
              <div class="username">六娃</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/3.jpg);"></div>
              <div class="username">小新</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/7.jpg);"></div>
              <div class="username">灰姑娘</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/8.jpg);"></div>
              <div class="username">龙猫</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/9.jpg);"></div>
              <div class="username">二哈</div>
              <div class="chatsub">吃了吗？</div>
          </li>
          <li>
              <div class="icon" style="background-image: url(assets/images/chat/icon/10.jpg);"></div>
              <div class="username">王校长</div>
              <div class="chatsub">吃了吗？</div>
          </li>
      </ul>
  </div>
  <div class="headerarea"><div>钢铁侠</div></div>
  <div class="contentarea"></div>
  <div class="editarea"></div>
</div>