<div class="ui-g">
 <!--  <p-inputSwitch [(ngModel)]="checked" class="checkedbutton" (onChange)="handleChange($event)" name="易发通导入">易发通导入</p-inputSwitch>
  <p-fileUpload *ngIf="test" mode="basic" class="GetExcel" name="YiFaTong[]" customUpload="true" maxFileSize="10000000" (uploadHandler)="onBasicUpload($event)" (onProgress)="onProgressLabel($event)" onSelect="Select($event)" chooseLabel="请选择文件"></p-fileUpload> -->
  <div  class="ui-g-10 ui-lg-10 ui-xl-10 ui-md-12 ui-sm-12 chartArea xl-chartArea md-chartArea lg-chartArea sm-chartArea">
     <p-table [columns]="cols" [value]="TableValues" [scrollable]="true" scrollHeight="500px" >
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns" style="color:white;text-align:center;background-color:#607D8B;font-size: 11px;font-weight: bold">
                      {{col.header}}
                  </th>
              </tr>
          </ng-template>
         <ng-template pTemplate="body" let-TableValue let-columns="columns">
               <tr [ngClass]="TableValue.YesNo? 'yes-happened' : null "> 
                  <td *ngFor="let col of columns" style="color:black;text-align:center;font-size: 8px">
                    {{TableValue[col.fileds]}}
                  </td>
              </tr>
          </ng-template> 
      </p-table>
      <div *ngIf="ShowProcessBar" class="ui-lg-10 lg-ProcessBarFloat" >
          <div class="xl-title lg-title"><strong>导入中，请稍候...</strong></div>  
          <p-progressBar  mode="indeterminate" [style]="{'height': '30px'}"></p-progressBar>
      </div>
  </div>
  <div class="ui-g-2 ui-lg-2 ui-xl-2 ui-md-12 ui-sm-12">
    <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionTypeArea xl-productionTypeArea md-productionTypeArea lg-productionTypeArea sm-productionTypeArea">
      <div class="xl-title lg-title"><strong>产品阶段</strong></div>
      <ul class="optionul">
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton  value="Production" label="正式量产" [(ngModel)]="selectedProductionType"
            inputId="productionType1" (click)="TypeAndDateChangeClicked()"></p-radioButton>
        </li>
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton  value="TPCN" label="TPCN" [(ngModel)]="selectedProductionType"
            inputId="productionType2" (click)="TypeAndDateChangeClicked()"></p-radioButton>
        </li>
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton  value="Develop" label="客户送样" [(ngModel)]="selectedProductionType"
            inputId="productionType3" (click)="TypeAndDateChangeClicked()"></p-radioButton>
        </li>
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton  value="Engineer" label="工程验证" [(ngModel)]="selectedProductionType"
            inputId="productionType4" (click)="TypeAndDateChangeClicked()"></p-radioButton>
        </li>
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton  value="PV" label="PV" [(ngModel)]="selectedProductionType"
            inputId="productionType5" (click)="TypeAndDateChangeClicked()"></p-radioButton>
        </li>
      </ul>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionCategoryArea xl-productionCategoryArea md-productionCategoryArea lg-productionCategoryArea sm-productionCategoryArea">
      <div class="xl-title lg-title"><strong>产品类型</strong></div>
      <div>
        <ul class="optionul">
          <li *ngFor="let item of productCategory" class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton  value="{{item}}" label="{{item}}" [(ngModel)]="selectedProductionCategory"
                    (click)="drawTable()"></p-radioButton>
          </li>
        </ul>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 lineNameArea xl-lineNameArea md-lineNameArea lg-lineNameArea sm-lineNameArea">
      <div class="xl-title lg-title"><strong>时间选择</strong></div>
        <p-dropdown [options]="DateTimeForDay" [(ngModel)]="selectedTimeDate"  optionLabel="label" (onChange)="drawTable()" [style]="{'width':'155px','font-size':'14px'}"></p-dropdown>
      </div>
     <!-- <div *ngIf="test">
       </div> -->
      </div>
</div>