<div class="ui-g">
  <div class="ui-g-6">
    <app-amc #Child_HCL [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[0]"></app-amc>
  </div>
  <div class="ui-g-6">
    <app-amc #Child_HF [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[1]"></app-amc>
  </div>
  <div class="ui-g-6">
    <app-amc #Child_NH3 [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[2]"></app-amc>
  </div>
  <div class="ui-g-6">
    <app-amc #Child_NO [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[3]"></app-amc>
  </div>
  <div class="ui-g-6">
    <app-amc #Child_NO2 [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[4]"></app-amc>
  </div>
  <div class="ui-g-6">
    <app-amc #Child_TS [currentUserName]="currentUserName" [deviceType]="deviceType" [dataType]="dataType[5]"></app-amc>
  </div>

</div>