<div class="ui-g">
  <div id="eacproductionActPlanChart" echarts [options]="productionActPlanChartOption" class="ui-g-10 ui-lg-10 ui-xl-10 ui-md-12 ui-sm-12 chartArea xl-chartArea md-chartArea lg-chartArea sm-chartArea"></div>
  <div class="ui-g-2 ui-lg-2 ui-xl-2 ui-md-12 ui-sm-12">
    <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionTypeArea xl-productionTypeArea md-productionTypeArea lg-productionTypeArea sm-productionTypeArea">
      <div class="xl-title lg-title"><strong>投入产出</strong></div>
      <ul class="optionul">
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton name="inOutType" value="IN" label="工厂投入" [(ngModel)]="inOutType" inputId="preopt1" (click)="drawproductionActPlanChart()"></p-radioButton>
        </li>
        <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton name="inOutType" value="OUT" label="工厂产出" [(ngModel)]="inOutType" inputId="preopt2" (click)="drawproductionActPlanChart()"></p-radioButton>
        </li>
      </ul>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionCategoryArea xl-productionCategoryArea md-productionCategoryArea lg-productionCategoryArea sm-productionCategoryArea">
      <div class="xl-title lg-title"><strong>产品类型</strong></div>
      <ul class="optionul">
        <li *ngFor="let item of actPlanProductCategory" class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
          <p-radioButton name="actPlanProductCategory" value="{{item}}" label="{{item}}" [(ngModel)]="selectedactPlanProductCategory"
            inputId="actPlanProductCategory+{{item}}" (click)="drawproductionActPlanChart()"></p-radioButton>
        </li>
      </ul>
    </div>
  </div>
</div>