.chartArea{
    height: 700px;
}

/* 640px 手机 sm */
@media screen and (max-width:40em){
    .sm-chartArea{
        height: 300px;
    }
}

/* 641px 平板 md*/
@media screen and (min-width:40.063em){
    .md-chartArea{
        height: 600px;
    }

}

/* 1025px lg 显示器*/
@media screen and (min-width:64.063em){
    .lg-chartArea{
        height: 296px;
        border-bottom: 0;
    }
}

/* 1441px xl 大电视*/
@media screen and (min-width:90.063em){
    .xl-chartArea{
        height: 406px;
        border-bottom: 0;
        background-color: white;
    }   
}