
<div class="ui-g">
  <div class="ui-g-12 ui-lg-12" style="border:1px solid lightgray; background-color:mintcream;height: 6.5em;">
      <div class="ui-g-4">
          <label>{{'admin.useraccount' | translate}}：</label>
          <input type="text" [(ngModel)]="userAccount" pInputText>
      </div>
      <div class="ui-g-4">
        <label>{{'admin.username' | translate}}：</label>
        <input type="text" [(ngModel)]="userName" pInputText>
      </div>
      <div class="ui-g-4">
        <label>{{'admin.menuId' | translate}}：</label>
        <input type="text" [(ngModel)]="menuId" pInputText>
     </div>
      <div class="ui-g-4">
        <div class="ui-g">
            <label >{{'log.loginTime' | translate}}：</label>
            <p-calendar [(ngModel)]="startTime" [showIcon]="true" dateFormat="yy.mm.dd" hourFormat="24"></p-calendar>
          </div>
      </div>
      <div class="ui-g-4">
        <div class="ui-g">
            <label >{{'log.logoutTime' | translate}}：</label>
            <p-calendar [(ngModel)]="endTime" [showIcon]="true" dateFormat="yy.mm.dd" hourFormat="24" maxDateCount=1></p-calendar>
          </div>
      </div>
      <p-button style="float: right;" icon="fa fa-search" label="{{'admin.query' | translate}}" [disabled]="false"
          (onClick)="paginator.changePage(0);"></p-button>
  </div>

  <div class="ui-g-12 ui-lg-12">
      <p-panel>
          <p-header>
              <div class="ui-helper-clearfix">
                  <span class="ui-panel-title">菜单点击信息</span>
              </div>
          </p-header>
          <p-table [value]="menuClickInfoList" selectionMode="single" [(selection)]="menuClickInfo">
              <ng-template pTemplate="header">
                  <tr>
                      <th>工号</th>
                      <th>姓名</th>
                      <th>菜单名</th>
                      <th>点击时间</th>
                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-menuClickInfo>
                  <tr>
                      <td pEditableColumn>{{menuClickInfo.userAccount}}</td>
                      <td pEditableColumn>{{menuClickInfo.userName}}</td>
                      <td pEditableColumn>{{menuClickInfo.menuId}}</td> 
                      <td pEditableColumn>{{menuClickInfo.clickTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>                  
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary" >
                  <p-paginator [alwaysShow]="true" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions"
                      (onPageChange)="paginate($event)" #p></p-paginator>
              </ng-template>
          </p-table>
      </p-panel>
  </div>
</div>