<p-tabView>
  <ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <p-tabPanel [header]="item.header" [selected]="item.selected" *ngIf="item.display">
      <app-mdlbyline #Child_BpShop [deviceType]="deviceType" [currentUserName]="currentUserName" [shopName]="shopName"
        [processType]="item.processType" [categoryURL]="categoryURL" [chartURL]="chartURL" [dataType]="item.dataType"></app-mdlbyline>
    </p-tabPanel>
  </ng-template>
</p-tabView>
<!-- <div class="xl-tabMove lg-tabMove">
  <ul>
    <i class="fa ui-icon-chevron-left" style="float: inherit;margin-top: 14px; margin-right: 3px; cursor: pointer;opacity: 0.6;font-size: large;"
      (click)="leftClick();"></i>
    <i class="fa ui-icon-chevron-right" aria-hidden="true" style="margin-top:14px; margin-left: 3px;cursor: pointer;opacity: 0.6;font-size: large;"
      (click)="rightClick();"></i>
  </ul>
</div> -->
<!-- <button type="button" pButton icon="fa fa-search" (click)="showTabSetting()" class="xl-tabSetting lg-tabSetting"></button>
 -->
<p-dialog header="Tab设置" [(visible)]="display_Setting" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12" *ngFor='let item of items'>
      <div class="ui-g-6">
        <label for="{{item.header}}"><strong>{{item.header}} :</strong></label>
      </div>
      <div class="ui-g-3">
        <p-inputSwitch [(ngModel)]=item.display></p-inputSwitch>
      </div>
      <div class="ui-g-3">
        <span> {{item.display ? 'TRUE' : 'FALSE'}}</span>
      </div>
    </div>
  </div>
</p-dialog>