<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.boe.idm.project.mapper.primary.chart.CassetteUseStatusMapper">

<select id="CSTUseStatusWipBank" resultType="java.util.HashMap">
SELECT *
  FROM MDWMGR.DSB_CSTUSEQTY A
 WHERE     A.FACTORYDATE = #{FactoryDate}
       AND A.DATATYPE = #{DataType}
       AND A.FACTORYNAME = #{FactoryName}
</select>

</mapper>