<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.boe.idm.project.mapper.primary.chart.CommonUseMapper">

<select id="getmonthweekdaytimedata" resultType="java.util.HashMap">
 SELECT TO_CHAR (SYSDATE, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (SYSDATE, 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 1, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 7, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -1), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 2, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 14, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -2), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 3, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 21, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -3), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 4, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 28, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -4), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 5, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 35, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -5), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 6, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 42, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -6), 'YYYYMM') AS DATEMONTH
  FROM DUAL
UNION ALL
SELECT TO_CHAR (SYSDATE - 7, 'YYYYMMDD') AS DATETIME,
       TO_CHAR (SYSDATE - 49, 'YYYYWW') AS DATEWEEK,
       TO_CHAR (ADD_MONTHS (TRUNC (SYSDATE), -7), 'YYYYMM') AS DATEMONTH
  FROM DUAL
</select>

<select id="getProductionDate" resultType="java.util.HashMap">
      		SELECT * FROM DAS_CALENDAR_MWD WHERE DATATYPE = 'DSB_MWD'
</select> 

<select id="getUserinfo" resultType="java.util.HashMap">
		SELECT * FROM USERINFO WHERE USERNAME=#{userName}
</select>

</mapper>