<p-growl [(value)]="noticeboardMsg"></p-growl>
<p-messages [(value)]="msgs"></p-messages>
<div class="layout-wrapper" (click)="onWrapperClick()" [ngClass]="{'layout-wrapper-static': layoutMode === 'static',
                'layout-wrapper-active': mobileMenuActive,
                'layout-menu-horizontal': layoutMode === 'horizontal',
                'layout-rtl': isRTL}">

    <app-menu [reset]="resetMenu"></app-menu>
    <div class="layout-main">
        <app-topbar></app-topbar>
        <!--                     <app-data-import></app-data-import> -->
        <retab></retab>
        <!-- <app-breadcrumb></app-breadcrumb> -->

        <div class="layout-content">
            <router-outlet></router-outlet>
            <!-- <layout-default></layout-default> -->
        </div>

        <app-footer></app-footer>
        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>

</div>
<!-- <div class="ui-tooltip ui-wedget ui-tooltip-top" style="display:inline-block;left :511.656px;top:820.609; opacity:1.056;z-index:1117"></div> -->
<p-growl [(value)]="notifyMsgs"></p-growl>