<div class="ui-g">
  <div id="BPWIPCSTUseStatusChart" echarts [options]="BPWIPCSTUseStatusChartOption" class="ui-g-6 ui-lg-6 ui-xl-6 ui-md-6 ui-sm-6 chartArea xl-chartArea md-chartArea lg-chartArea sm-chartArea"></div>
  <div id="BPBANKCSTUseStatusChart" echarts [options]="BPBANKCSTUseStatusChartOption" class="ui-g-6 ui-lg-6 ui-xl-6 ui-md-6 ui-sm-6 chartArea xl-chartArea md-chartArea lg-chartArea-12 sm-chartArea"></div>
  <div id="BPDummyCSTUseStatusChart" echarts [options]="BPDummyCSTUseStatusChartOption" class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-12 ui-sm-12 chartArea xl-chartArea md-chartArea lg-chartArea-big sm-chartArea"></div>
</div>