<div class="ui-g">
  <div class="ui-g-8">
    <div echarts [options]="echartOption" class="ui-g-10 ui-lg-9 ui-xl-10 ui-md-12 ui-sm-12 chartArea xl-chartArea md-chartArea lg-chartArea sm-chartArea"></div>
    <div class="ui-g-2 ui-lg-3 ui-xl-2 ui-md-12 ui-sm-12">
      <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionTypeArea xl-productionTypeArea md-productionTypeArea lg-productionTypeArea sm-productionTypeArea">
        <div class="xl-title lg-title"><strong>产品阶段</strong></div>
        <ul class="optionul">
          <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}" value="Production" label="正式量产"
              [(ngModel)]="selectedProductionType" inputId="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}1"
              (click)="productionTypeClicked()"></p-radioButton>
          </li>
          <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}" value="TPCN" label="TPCN"
              [(ngModel)]="selectedProductionType" inputId="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}2"
              (click)="productionTypeClicked()"></p-radioButton>
          </li>
          <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}" value="Develop" label="客户送样"
              [(ngModel)]="selectedProductionType" inputId="QAProductionType+{{shopName}}+{{processType}}3" (click)="productionTypeClicked()"></p-radioButton>
          </li>
          <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}" value="Engineer" label="工程验证"
              [(ngModel)]="selectedProductionType" inputId="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}4"
              (click)="productionTypeClicked()"></p-radioButton>
          </li>
          <li class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}" value="PV" label="PV"
              [(ngModel)]="selectedProductionType" inputId="QAProductionType+{{dataType}}+{{shopName}}+{{processType}}5"
              (click)="productionTypeClicked()"></p-radioButton>
          </li>
        </ul>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-xl-12 ui-md-6 ui-sm-6 productionCategoryArea xl-productionCategoryArea md-productionCategoryArea lg-productionCategoryArea sm-productionCategoryArea">
        <div class="xl-title lg-title"><strong>产品类型</strong></div>
        <ul class="optionul">
          <li *ngFor="let item of productCategory" class="productionTypeLi xl-productionTypeLi md-productionTypeLi lg-productionTypeLi sm-productionTypeLi">
            <p-radioButton name="QAproductCategory+{{dataType}}+{{shopName}}+{{processType}}" value="{{item}}" label="{{item}}"
              [(ngModel)]="selectedProductionCategory" inputId="QAproductCategory+{{dataType}}+{{shopName}}+{{processType}}+ {{item}}"
              (click)="drawChart()"></p-radioButton>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ui-g-4 lg-table xl-table">
    <p-table #userinfoTable [columns]='cols' [loading]="loading" [value]="DailyInfoList" selectionMode="single"
      [(selection)]="selectedDailyInfo" (onRowSelect)="onRowSelect($event)" [resizableColumns]="true" [paginator]="true"
      [rows]="rowNumber">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          {{tableTitle}} Daily Detail
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" class="xl-tablecol lg-tablecol">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols">{{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-DailyInfoList let-columns="columns">
        <tr [pSelectableRow]="DailyInfoList">
          <td *ngFor="let col of columns">{{DailyInfoList[col.field]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>